.challenges-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

.challenges {
    width: 50%;
    min-height: 80vh;

    h1 {
        margin-left: 1rem;
    }
}

.active {
    border-right: 1px solid gray;

    h2 {
        text-align: center;
    }
}

.search {
    h2 {
        margin-left: 1rem;
    }

    h3 {
        text-align: right;
        margin-right: 1rem;
    }

    p {
        text-align: center;
    }

    form {
        display: flex;
        align-items: center;

        margin-left: 1rem;

        label {
            width: 60%;
        }

        img {
            width: 36px;
            height: 36px;
        }

        input {
            padding-left: 0.5rem;
        }
    }

    .challenges-popular {
        display: flex;
        flex-direction: column;

        margin-top: 5vh;

        .challenges-line {
            display: flex;
            align-items: center;

            .eye-img {
                height: 30px;
                width: 30px;
                margin: 0 1rem;
            }

            p {
                margin: 0
            }

            .challenges-join {
                margin-left: 10vw;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }

    .challenges-create {
        text-align: center;
        margin-top: 5vh;

        .challenge-create-button {
            margin: 5vh auto auto auto;
            padding: 0 1rem;
            border: 1px solid black;
            border-radius: 20px;
            width: 250px;
            background-color: #234059;
            color: #FFE785;
        }
    }
}

.challenges-profile-mini {
    display: flex;
    
    margin: 1rem 0 0 1rem;

    .challenges-profile-picture {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .challenges-profile-info {

        h4 {
        margin-bottom: 0.5rem;
        }

        h5 {
            margin-top: 0;
        }
    }
}