.body {
    display: flex;
    justify-content: space-between;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
}

.dashboard-widgets {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 50vw;
    padding-right: 181px;
}

.dashboard-nav-buttons {
    display: flex;
    justify-content: space-between;

    width: 100%;

    h2 {
        text-align: center;
    }

    .dashboard-button {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        box-shadow: 0 3px 10px rgba(0,0,0,0.19), 
        0 6px 6px rgba(0,0,0,0.23);
    }
}

.dashboard-profile {
    margin-left: 92px;
    text-align: center;

    .profile-picture {
        height: 313px;
        width: 313px;
        border-radius: 50%;
    }
}

.minidash-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
    0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    background-color: #FFFFFF;

    .progress-bar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
    }
    
    .title-container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .title-container h6 {
        margin: 10px 0;
    }
    
    .social-icon-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .social-icon-container h5 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .social-icons {
        display: flex;
        justify-content: space-evenly;

        font-size: 30px;
    }

    h1 {
        margin: 0 0 0.5rem 0;
    }

    h5 {
        margin: 0;
    }
}