.goal-container {
    box-shadow: 
    0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
    width: 45%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-left: 40px;
    background: #f1f1f1;
    justify-content: center;
    align-items:center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit {
    margin: 0;
}

.create-new-goal {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 2rem;
}

.create-new-goal h3 {
    margin: 0 0 0 1rem;
}

.viewgoals-title {
    margin-top: 0;
    margin-left: 2rem;
    padding-top: 2rem;
}

.viewgoals-body {
    height: 80vh;
}