.goal-container {
    box-shadow: 
    0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
    width: 45%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-left: 40px;
    background: #f1f1f1;
    justify-content: center;
    align-items:center;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;

    
}

.delete {
 padding: 10;
 margin: 0 auto;
}

.edit {
    padding: 10;
    margin: 0 auto;
   }